<!-- Main Content -->
<div id="content">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Listado de Empleos</h4>
    </div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="form-group row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <select class="form-control" name="remote_modality" id="remote_modality"
                    formControlName="remote_modality">
                    <option *ngFor="let item of lstModality" [value]="item.attributes.locale_key">
                        {{item.attributes.name}}</option>
                </select>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <select class="form-control" name="remote_modality" id="remote_modality"
                    formControlName="remote_modality">
                    <option *ngFor="let item of lstModality" [value]="item.attributes.locale_key">
                        {{item.attributes.name}}</option>
                </select>
            </div>

            <div class="col-sm-3 mb-3 mb-sm-0">
                <select class="form-control" name="remote_modality" id="remote_modality"
                    formControlName="remote_modality">
                    <option *ngFor="let item of lstModality" [value]="item.attributes.locale_key">
                        {{item.attributes.name}}</option>
                </select>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <select class="form-control" name="remote_modality" id="remote_modality"
                    formControlName="remote_modality">
                    <option *ngFor="let item of lstModality" [value]="item.attributes.locale_key">
                        {{item.attributes.name}}</option>
                </select>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Pais</th>
                                <th>Categoria</th>
                                <th>Nivel</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of lsjobs">
                                <td>{{item.attributes.title}}</td>
                                <td>{{item.attributes.country}}</td>
                                <td>{{item.attributes.category_name}}</td>
                                <td>{{item.attributes.seniority.data.type}}</td>
                                <td>{{item.attributes.state}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->